#main-view {

  padding-top: 120px;
  text-align: center;
  
   

}

.avatarImg {
  display: inline-block;
  padding: 1em;
  margin: 0 1em;
  border-radius: 20%;

  
}

.avatarImg img {
  width: fit-content;
}

.back {
  display: inline;
  padding: 1em;
  text-align: center;
  margin: 0 auto;
}

.errorfield {
  border: 2px solid red;
}

.log-in label {margin-bottom: 0.8em;}
.log-in input {margin-bottom: 1em;}

.float-right { float: right;}


//Logo area 


 